<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap_temporary_jh1.html}">
<head>
  <meta charset="UTF-8">
  <title>여행지 관리</title>
</head>
<body>
<th:block layout:fragment="style">
  <style>
      #locationsPlaceholder {
          font-size: 1.2rem;
      }

      .countryName {
          border-right: 2px solid var(--bs-body-color);
      }
  </style>
</th:block>
<div layout:fragment="content">
  <div class="jumbotron text-center">
    <h1>여행지 관리</h1>
  </div>
  <div class="container">
    <div id="locationsPlaceholder"></div>
    <form id="locationRegisterForm">
      <div class="row mb-3">
        <div class="col">
          <div class="form-floating">
            <input class="form-control" type="text" name="country" id="countryNameInput" placeholder="국가">
            <label for="countryNameInput" class="form-label">국가</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input class="form-control" type="text" name="city" id="cityNameInput" placeholder="국가">
            <label for="cityNameInput" class="form-label">도시</label>
          </div>
        </div>
      </div>
    </form>
    <div class="mb-3">
      <a class="btn btn-primary">여행지 등록하기</a>
      <a class="btn btn-secondary" th:href="@{/admin/product/list}">여행상품 관리</a>
    </div>
  </div>

</div>
<th:block layout:fragment="scripts">
  <script th:src="@{/script/admin/admin-common.js}"></script>
  <script th:inline="javascript">
    const locationsPlaceholder = document.getElementById('locationsPlaceholder');
    const locStructure = []

    const countryNameInput = document.getElementById('countryNameInput');
    const cityNameInput = document.getElementById('cityNameInput');

    function countryEl(country, cities) {
      const el = document.createElement('div')
      el.classList.add('row', 'm-2')
      el.innerHTML = `
          <div class="col-2 fw-bold country-name"></div>
          <div class="col-8">
            <div class="row cities"></div>
          </div>
        `
      const countryNameEl = el.querySelector('.country-name');
      countryNameEl.setAttribute("name", country)
      countryNameEl.textContent = country;

      const citiesEl = el.querySelector('.cities');
      for (const city of cities) {
        const cityName = document.createElement('div');
        cityName.classList.add('text-body-secondary', 'col-auto')
        cityName.textContent = city.name;
        citiesEl.appendChild(cityName);
      }
      return el
    }

    const formEl = document.getElementById('locationRegisterForm');
    formEl.addEventListener('submit', e => {
      e.preventDefault();
      registerLocation(countryNameInput.value, cityNameInput.value).then(response => {
        console.log(response);
        countryNameInput.value = '';
        cityNameInput.value = '';
      })
    });

    (async () => {
      const response = await axios.get("/api/location/list");
      const {data} = response
      for (const location of data) {
        const countryName = location.country;
        const cityName = location.city;
        const locationNo = location.locationNo;
        const countryObj = locStructure.find(loc => loc.name === countryName);
        if (countryObj) {
          countryObj.children.push({name: cityName, locationNo})
        } else {
          locStructure.push({
            name: countryName,
            children: [{name: cityName, locationNo}]
          })
        }
      }

      for (const countryObj of locStructure) {
        locationsPlaceholder.append(countryEl(countryObj.name, countryObj.children))
      }
    })()
  </script>
</th:block>
</body>
</html>
