<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/travel_admin_aside_jh1.html}">
<head>
  <meta charset="UTF-8">
  <title>여행상품 관리</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="py-3 text-center">
      <h1>여행상품 관리</h1>
    </div>
    <div class="container">
      <table class="table table-hover mb-3">
        <thead>
          <tr class="text-center">
            <th>No.</th>
            <th>이름</th>
            <th>여행지</th>
            <th>가격</th>
            <th>출발일</th>
            <th>도착일</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
      <div class="mb-3">
        <a class="btn btn-primary" th:href="@{/admin/product/register}">여행상품 등록하기</a>
      </div>
      <nav id="PaginationHere"></nav>
    </div>
  </div>
  <th:block layout:fragment="scripts">
    <script th:src="@{/script/admin/admin-common.js}"></script>
    <script th:src="@{/script/pagination.js}"></script>
    <script th:inline="javascript">
      const tbody = document.querySelector('#tbody');
      const page = /*[[${requestDTO.page}]]*/ 0;
      const size = /*[[${requestDTO.size}]]*/ 0;
      function productEl(productDTO) {
        return _el('tr',
          _el('td', productDTO.productNo),
          _el('td', _el('a', productDTO.name, a => a.href = `/admin/product/edit/${productDTO.productNo}`)),
          _el('td', productDTO.location.country + ' > ' + productDTO.location.city),
          _el('td', productDTO.price),
          _el('td', productDTO.startDate),
          _el('td', productDTO.endDate),
          _el('td', periodExpression(productDTO.until))
        )
      }

      (async () => {
        const response = await axios.get('/api/admin/product/list'+`?page=${page}&size=${size}`);
        const data = response.data;
        document.getElementById("PaginationHere")
          .append(createPagination(data.start, data.end, data.page, '/admin/product/list', data.size));
        const dtoList = data.dtoList
        for (const product of dtoList) {
          tbody.appendChild(productEl(product))
        }
      })()
    </script>
  </th:block>
</body>
</html>
