<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/travel_admin_aside_jh1.html}">
<head>
  <meta charset="UTF-8">
  <title>여행상품 상세관리</title>
</head>

<div layout:fragment="content">
  <div class="modal fade" id="registerLocationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">여행 지역 등록하기</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="registerLocCountry" class="form-label">국가</label>
            <input type="text" class="form-control" id="registerLocCountry">
          </div>
          <div class="mb-3">
            <label for="registerLocCity" class="form-label">지역</label>
            <input type="text" class="form-control" id="registerLocCity">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button id="registerLocationButton" type="button" class="btn btn-primary">등록</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1>여행상품 상세관리</h1>
    <section>
      <div class="card mb-3">
        <div class="card-body">
          <div class="input-group mb-2">
            <label for="productName" class="input-group-text">상품명</label>
            <input id="productName" type="text" class="form-control" placeholder="상품명">
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text">여행지</span>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-bs-toggle="modal"
                    data-bs-target="#registerLocationModal">여행지 추가
            </button>
            <div class="form-floating">
              <select class="form-select" id="travelCountry">
                <option selected>국가를 선택하세요</option>
                <option disabled>-----------------</option>
              </select>
              <label for="travelCountry" class="form-label">국가</label>
            </div>
            <div class="form-floating">
              <select class="form-select" id="travelCity">
                <option selected>도시를 선택하세요</option>
                <option disabled>-----------------</option>
              </select>
              <label for="travelCity" class="form-label">도시</label>
            </div>
          </div>
          <div class="input-group mb-2">
            <label for="productName" class="input-group-text">여행 일정</label>
            <div class="form-floating">
              <input id="startDate" class="form-control" type="date">
              <label for="startDate">시작일</label>
            </div>
            <div class="form-floating">
              <input id="endDate" class="form-control" type="date">
              <label for="endDate">종료일</label>
            </div>
          </div>
          <div class="input-group mb-2">
            <label for="productPrice" class="input-group-text">상품가격</label>
            <input type="number" id="productPrice" class="form-control" placeholder="상품가격">
          </div>
          <div class="input-group mb-2">
            <label for="productCapacity" class="input-group-text">최대 좌석 수</label>
            <input type="number" id="productCapacity" class="form-control" placeholder="좌석 수">
          </div>
          <div class="input-group mb-2">
            <label for="imageUpload" class="input-group-text">이미지 첨부</label>
            <input type="file" id="imageUpload" class="form-control" accept="image/*" placeholder="이미지를 업로드하세요">
            <input type="text" id="countryDst" class="form-control" name="countryDst" placeholder="국가 이름 (영어)"/>
            <input type="text" id="cityDst" class="form-control" name="cityDst" placeholder="도시 이름/키워드 (영어)"/>
            <button id="applyProductImage" class="btn btn-outline-secondary">이미지 적용</button>
          </div>
          <input id="imagePath" name="imagePath" type="hidden">
          <div class="card mb-3">
            <div class="card-header">
              이미지 미리보기
              <span id="imagePathView" class="text-body-secondary"></span>
            </div>
            <img id="imagePreview" class="card-img-bottom" src="" alt="Card image cap">
          </div>
          <div class="input-group mb-2">
            <label for="productDescription" class="input-group-text">상세설명</label>
            <textarea id="productDescription" class="form-control" placeholder="상세설명" style="height: 400px"></textarea>
          </div>
          <button id="registerProductButton" class="btn btn-primary">등록하기</button>
        </div>
      </div>
    </section>
  </div>
  <div class="container" th:if="${productDTO != null}">
    <div class="card mb-3" th:if="${!#lists.isEmpty(productDTO.reservations)}">
      <div class="card-header">
        상품 예약 목록
      </div>
      <div class="card-body"></div>
    </div>
    <div class="card mb-3" th:if="${!#lists.isEmpty(productDTO.reviews)}">
      <div class="card-header">
        상품 리뷰 목록
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
<th:block layout:fragment="scripts">
  <script th:src="@{/script/admin/admin-common.js}"></script>
  <script>

    function inputValueOf(id) {
      return document.getElementById(id)?.value;
    }

    function assignInputValue(id, val) {
      const input = document.getElementById(id);
      if (input) input.value = val;
    }


    /** @type {HTMLSelectElement} */
    const countrySelect = document.getElementById("travelCountry");

    /** @type {HTMLSelectElement} */
    const citySelect = document.getElementById("travelCity");

    let locations = [];
    let locStructure = [];

    const regCountry = document.getElementById("registerLocCountry")
    const regCity = document.getElementById("registerLocCity")

    /** 이미지 업로드 버튼을 눌렀는지 여부. */
    let imagePushed = true;

    const unsetImagePushed = () => imagePushed = false;


    /** 국가 선택 > 도시 선택 구조에 맞도록 select 엘리먼트에 여행지 option을 추가한다. */
    function addLocation(countryName, cityName, locationNo) {
      const countryObj = locStructure.find(loc => loc.name === countryName);
      if (countryObj) {
        countryObj.children.push({name: cityName, locationNo})
        if (countrySelect.selectedOptions[0].text === countryName) {
          citySelect.add(optEl(cityName, locationNo));
        }
      } else {
        locStructure.push({
          name: countryName,
          children: [{name: cityName, locationNo}]
        })
        countrySelect.add(optEl(countryName, countryName));
      }
    }

    /** 서버에서 여행지 목록을 불러와서 select 엘리먼트를 초기화한다. */
    async function loadLocations() {
      const response = await axios.get("/api/admin/location/list")
      const {data} = response
      locations = data
      for (const location of locations) {
        addLocation(location.country, location.city, location.locationNo)
      }
    }

    /** 국가를 선택했을 때, 해당 국가에 속해 있는 등록된 여행지 도시가 select에 나타나도록 한다. */
    function updateCitySelect(countryName) {
      const country = locStructure.find(loc => loc.name === countryName)
      clearSelect(citySelect)
      if (country) {
        for (const city of country.children) {
          citySelect.add(optEl(city.name, city.locationNo))
        }
      }
    }

    /** 이미지 업로드를 처리한다. */
    async function postImage(file, countryDst, cityDst) {
      const fd = new FormData();
      fd.append('file', file);
      fd.append('countryDst', countryDst);
      fd.append('cityDst', cityDst);

      const response = await axios.post('/api/admin/productImage', fd, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      });

      const data = response.data;

      if (data.success) {
        setImagePath(data.imagePath)
      }
    }

    /** 서버에 있는 `imagePath`를 이미지 값으로 설정한다. */
    function setImagePath(imagePath) {
      if (imagePath != undefined) {
        assignInputValue("imagePath", imagePath);
        document.getElementById("imagePreview").src = '/productImage/' + imagePath;
        document.getElementById("imagePathView").innerText = imagePath;
      }
    }





    /* 국가를 선택했을 때, 해당 국가에 속해 있는 등록된 여행지 도시가 select에 나타나도록 실제로 이벤트 리스너를 등록함 */
    countrySelect.addEventListener("change", e => {
      const countryName = countrySelect.selectedOptions[0].text
      updateCitySelect(countryName)
    })

    /* 여행상품 등록 페이지 내에서 빠르게 여행지 등록을 하는 기능 */
    document.getElementById("registerLocationButton").addEventListener("click", () => {
      registerLocation(regCountry.value, regCity.value)
        .then(response => {
          addLocation(regCountry.value, regCity.value, response.data.locationNo)
          regCountry.value = ''
          regCity.value = ''
        })
    });

    /* 이미지 관련 input값이 바뀌면 이미지가 수정되었다고 표시하기 */
    ['imageUpload', 'countryDst', 'cityDst'].forEach(id => {
      const el = document.getElementById(id);
      el.addEventListener('change', unsetImagePushed);
      el.addEventListener('input', unsetImagePushed);
    });

    const doImagePush = async () => {
      const countryDst = inputValueOf("countryDst");
      const cityDst = inputValueOf("cityDst");
      const imageFile = document.getElementById("imageUpload").files[0];
      if (imageFile != null) {
        await postImage(imageFile, countryDst, cityDst);
        imagePushed = true;
      }
    }

    /* 이미지 업로드 처리 */
    document.getElementById("applyProductImage").addEventListener("click", doImagePush)

    // 등록된 여행지 정보를 모두 가져온다.
    const loadLocationPromise = loadLocations();


  </script>
  <script th:if="${productDTO == null}">
    /** 최종 상품 등록을 처리한다. */
    async function registerProduct(name, description, price, startDate, endDate, capacity, locationNo, imagePath) {
      try {
        const response = await axios.post('/api/admin/product', {
          name, description, price, startDate, endDate, capacity, locationNo, imagePath,
        })
        const data = response.data;
        if (data.success) {
          window.alert("여행상품이 등록되었습니다.")
          window.location.reload();
        }
      } catch (error) {
        window.alert(error);
        console.error(error);
      }
    }

    document.getElementById("registerProductButton").addEventListener("click", async () => {
      if (!imagePushed) {
        const confirmPush = window.confirm("이미지 변경사항이 적용되지 않았습니다. 이미지를 업로드하고 적용할까요?\n[아니오]를 누르면 이미지 변경사항이 적용되지 않습니다.")
        if (confirmPush) await doImagePush()
      }
      await registerProduct(
        inputValueOf("productName"),
        inputValueOf("productDescription"),
        inputValueOf("productPrice"),
        inputValueOf("startDate"),
        inputValueOf("endDate"),
        inputValueOf("productCapacity"),
        inputValueOf("travelCity"),
        inputValueOf("imagePath"),
      )
    });
  </script>
  <script th:inline="javascript" th:if="${productDTO != null}">
    const productDTO = /*[[${productDTO}]]*/ {};

    /** 상품 업데이트를 처리한다. */
    async function updateProduct(productNo, name, description, price, startDate, endDate, capacity, locationNo, imagePath) {
      try {
        const response = await axios.put('/api/admin/product', {
          productNo, name, description, price, startDate, endDate, capacity, locationNo, imagePath,
        })
        const data = response.data;
        if (data.success) {
          window.alert("여행상품이 수정되었습니다..")
          window.location.reload();
        }
      } catch (error) {
        window.alert(error);
        console.error(error);
      }
    }

    document.getElementById("registerProductButton").addEventListener("click", async () => {
      if (!imagePushed) {
        const confirmPush = window.confirm("이미지 변경사항이 적용되지 않았습니다. 이미지를 업로드하고 적용할까요?\n[아니오]를 누르면 이미지 변경사항이 적용되지 않습니다.")
        if (confirmPush) await doImagePush()
      }
      await updateProduct(
        productDTO.productNo,
        inputValueOf("productName"),
        inputValueOf("productDescription"),
        inputValueOf("productPrice"),
        inputValueOf("startDate"),
        inputValueOf("endDate"),
        inputValueOf("productCapacity"),
        inputValueOf("travelCity"),
        inputValueOf("imagePath"),
      )
    })

    // 수정할 경우에 한함
    assignInputValue("productName", productDTO.name)
    assignInputValue("productDescription", productDTO.description)
    assignInputValue("productPrice", productDTO.price)
    assignInputValue("startDate", productDTO.startDate)
    assignInputValue("endDate", productDTO.endDate)
    assignInputValue("productCapacity", productDTO.capacity)
    setImagePath(productDTO.imagePath)

    loadLocationPromise.then(() => {
      const knownLocation = locations.find(loc => loc.locationNo === productDTO.locationNo)
      countrySelect.value = knownLocation.country
      updateCitySelect(knownLocation.country)
      citySelect.value = knownLocation.locationNo
    })

  </script>
</th:block>
</html>