<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/travel_admin_aside_jh1.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원정보</title>
</head>
<body>
<th:block layout:fragment="style">
  <style>
    .card:target .card-header {
        color: #000 !important;
        background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity, 1)) !important;
    }
  </style>
</th:block>
<div layout:fragment="aside-extra" class="list-group list-group-flush">
  <a class="list-group-item list-group-item-action" href="#MemberDetail">회원정보</a>
  <a class="list-group-item list-group-item-action" href="#Reservations">여행상품 예약 내역</a>
  <a class="list-group-item list-group-item-action" href="#Reviews">리뷰 목록</a>
  <a class="list-group-item list-group-item-action" href="#FreeBoards">작성한 게시글 목록</a>
  <a class="list-group-item list-group-item-action" href="#Replies">댓글 목록</a>
</div>
<div layout:fragment="content">
  <div id="MemberDetail" class="text-center">
    <h1>회원정보</h1>
  </div>
  <div class="container">
<!--    <div class="py-4">-->
<!--    </div>-->
    <div class="card mb-3">
      <div class="card-header">
        회원정보
      </div>
      <div class="list-group list-group-flush">
        <div class="list-group-item display-1 text-center" th:text="${memberDTO.memberName}"></div>
        <div class="list-group-item">
          <strong>가입일</strong>
          <span th:text="${memberDTO.regDate}"></span>
        </div>
        <div class="list-group-item">
          <strong>E-mail 주소</strong>
          <span th:text="${memberDTO.memberEmail}"></span>
        </div>
        <div class="list-group-item">
          <strong>전화번호</strong>
          <span th:text="${memberDTO.memberPhone}"></span>
        </div>
        <div class="list-group-item">
          <div class="row">
            <strong class="col-auto">포인트</strong>
            <span class="col" th:text="${memberDTO.memberPoint}"></span>
            <span class="col-auto"></span>
          </div>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-auto">
              <div class="input-group">
                <label class="input-group-text" for="givePoint">포인트</label>
                <input class="form-control" id="givePoint" placeholder="지급할 포인트 입력" type="number">
              </div>
            </div>
            <div class="col-auto">
              <button class="btn btn-primary" id="GivePointButton">포인트 지급</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="Reservations" class="card mb-3">
      <div class="card-header">여행상품 예약 내역</div>
      <table class="table">
        <thead>
        <tr>
          <th>No.</th>
          <th>상품명</th>
          <th>예약일시</th>
          <th>상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${memberDTO.reservations}">
          <td th:text="${reservation.reservationNo}"></td>
          <td><a th:text="${reservation.productName}" th:href="@{'/admin/product/edit/' + ${reservation.productNo}}" /></td>
          <td th:text="${reservation.regDate}"></td>
          <td th:text="${reservation.getReservationOrder()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="Reviews" class="card mb-3">
      <div class="card-header">리뷰 목록</div>
      <table class="table">
        <thead>
        <tr>
          <th>No.</th>
          <th>상품명</th>
          <th>평점</th>
          <th>내용</th>
          <th>리뷰시각</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${memberDTO.reviews}">
          <td th:text="${review.reviewNo}"></td>
          <td><a th:text="${review.productName}" th:href="@{'/admin/product/edit/' + ${review.productNo}}" /></td>
          <td th:text="${review.rating}"></td>
          <td th:text="${review.reviewContent}"></td>
          <td th:text="${review.regDate}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="FreeBoards" class="card mb-3">
      <div class="card-header">작성한 게시글 목록</div>
      <table class="table">
        <thead>
        <tr>
          <th>No.</th>
          <th>제목</th>
          <th>내용</th>
          <th>작성일</th>
          <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="freeBoard : ${memberDTO.freeBoards}">
          <td th:text="${freeBoard.freeBoardNo}" />
          <td><a th:href="@{'/admin/freeBoard/view/' + ${freeBoard.freeBoardNo} }" th:text="${freeBoard.title}" /></td>
          <td th:text="${freeBoard.content}" />
          <td th:text="${freeBoard.regDate}" />
          <td><button th:data-board-no="${freeBoard.freeBoardNo}" class="btn btn-sm btn-outline-danger">삭제</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="Replies" class="card mb-3">
      <div class="card-header">댓글 목록</div>
      <div class="list-group list-group-flush">
        <div class="list-group-item" th:each="reply : ${memberDTO.replies}">
          <div class="d-flex justify-content-between">
            <div>
              <a class="fw-bold" th:href="@{'/admin/freeBoard/view/' + ${reply.freeBoardNo}}" th:text="${reply.freeBoardTitle}"></a>에 남긴 댓글
            </div>
            <div class="d-flex">
              <div class="text-body-secondary px-2" th:text="${#temporals.format(reply.regDate, 'yyyy''년'' MM''월'' dd''일'' HH:mm' )}"></div>
              <button th:data-reply-no="${reply.replyNo}" class="btn btn-sm btn-outline-danger">삭제</button>
            </div>
          </div>
          <div class="p-2" th:text="${reply.replyText}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block layout:fragment="scripts">
  <script th:inline="javascript">
    const memberNo = /*[[${memberDTO.memberNo}]]*/ 0;

    async function givePoint(amount) {
      const response = await axios.post('/api/admin/member/givePoint', {memberNo, amount})
      const data = response.data;
      if (data.success) {
        window.alert("포인트가 지급되었습니다.")
        window.location.reload()
      }
    }

    document.getElementById('GivePointButton').addEventListener('click', () => {
      const amount = document.getElementById('givePoint').value;
      if (Number.isInteger(Number(amount))) givePoint(amount).catch(err => {
        window.alert(err)
        console.error(err)
      })
      else window.alert("포인트 값이 잘못되었습니다.")
    })

    document.getElementById("FreeBoards").addEventListener("click", (e) => {
      const target = e.target;
      if (target.tagName.toLowerCase() === "button" && target.classList.contains("btn-outline-danger")) {
        const boardNo = target.dataset.boardNo;
        if (window.confirm("이 게시글을 삭제할까요?")) {
          axios.delete("/api/admin/freeBoard/" + boardNo).then((res) => {
            const data = res.data;
            if (data.success) {
              window.location.reload()
            }
          }).catch((err) => {
            window.alert(err)
            console.error(err)
          })
        }
      }
    })

    document.getElementById("Replies").addEventListener("click", (e) => {
      const target = e.target;
      if (target.tagName.toLowerCase() === "button" && target.classList.contains("btn-outline-danger")) {
        const replyNo = target.dataset.replyNo;
        if (window.confirm("이 댓글을 삭제할까요?")) {
          axios.delete("/api/admin/reply/" + replyNo).then((res) => {
            const data = res.data;
            if (data.success) {
              window.location.reload()
            }
          }).catch((err) => {
            window.alert(err)
            console.error(err)
          })
        }
      }
    })
  </script>
</th:block>
</body>
</html>
