<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/customize/bootstrap.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title layout:title-pattern="$CONTENT_TITLE :: $LAYOUT_TITLE">Travel</title>
</head>
<body>
<style>
    .header__main {
        width: 150px;
    }
</style>
<th:block layout:fragment="style">

</th:block>
<nav class="navbar navbar-expand bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="m-0" th:href="@{/mainPage}">
      <img class="header__main" src="/images/mainIcon.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
  </div>
</nav>
<div class="d-flex w-100">
  <aside class="col-12 col-md-3 col-xl-2 d-none d-md-block sticky-top bg-body-secondary text-body-secondary align-self-start" style="z-index: 1019!important; top:60px;">
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-transparent" th:href="@{/admin/member/list}">회원관리</a>
      <a class="list-group-item list-group-item-action bg-transparent" th:href="@{/admin/product/list}">여행상품 관리</a>
      <a class="list-group-item list-group-item-action bg-transparent" th:href="@{/admin/location/list}">여행지 관리</a>
      <a class="list-group-item list-group-item-action bg-transparent" th:href="@{/admin/freeBoard/list}">자유게시판 관리</a>
      <a class="list-group-item list-group-item-action bg-transparent" th:href="@{/admin/images}">이미지 관리</a>
    </div>
    <th:block layout:fragment="aside-extra">

    </th:block>
  </aside>
  <main class="col">
    <th:block layout:fragment="content">

    </th:block>
  </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>