<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div class="container mt-4">
    <h1>Register FreeBoard</h1>

    <form method="post" action="/freeboard/register">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
        </div>

        <div class="mb-3">
            <label for="member" class="form-label">Writer</label>
            <input type="text" class="form-control" id="member" name="member" required>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>

</body>

</html>