<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/member/myPage.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="header__main">Hello</div>
    <div class="myPageContainer">
        <img src="/static/images/user.png" id="member" alt="" style="height: 70%; margin: 2.5%"/>
        <img src="/static/images/shoppingCart.png" id="shoppingCart" alt="" style="height: 70%; margin: 2.5%"/>
        <img src="/static/images/airplane.png" id="reservation" alt="" style="height: 70%; margin: 2.5%"/>
    </div>
</header>
<div class="mainContainer">
    <nav>
        <div><div>a</div></div>
    </nav>
</div>
</body>
</html>