<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainPageLayout.html}">
<title layout:fragment="title">예약 확인</title>
<body>
<!--임시 예약 관리 페이지 (유저)-->
<!--레이아웃이 정해지면 수정할 것-->
<main layout:fragment="content">
    <div id="orderBtn" class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" data-order="PENDING" autocomplete="off"
               checked>
        <label class="btn btn-outline-primary" for="btnradio1">Pending</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" data-order="COMPLETED" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Completed</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" data-order="CANCELLED" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Cancelled</label>
    </div>
    <label for="orderBtn" class="memberPointLabel"></label>

    <ul class="reservationList"></ul>
    <ul class="pagination reservationListPagination"></ul>
</main>

<div layout:fragment="javascript">
    <script src="/script/reservation/reservation.js"></script>
    <script>
        const reservationList = document.querySelector(".reservationList")
        const reservationListPagination = document.querySelector(".reservationListPagination")
        const memberPointLabel = document.querySelector(".memberPointLabel")
        let reservationOrder = 'PENDING'

        function printReservation(reservationOrder, page) {
            getUserReservation({reservationOrder, page})
                .then(data => {
                        resetReservation()
                        printReservationList(data.dtoList)
                        printReservationListPagination(data)
                    }
                ).catch(e => {
                    console.error(e)
                }
            )
        }

        function resetReservation() {
            reservationList.innerHTML = ''
            reservationListPagination.innerHTML = ''
        }

        function printReservationList(dtoList) {
            let str = ""
            if (dtoList && dtoList.length > 0) {
                for (const dto of dtoList) {
                    str += `
               <li class="list-group-item d-flex replyItem">
               <span class="col-1">${dto.productName}</span>
               <span class="col-4">${dto.productDescription}</span>
               <span class="col-2">${dto.productStartDate}~${dto.productEndDate}</span>
               <span class="col-1">${dto.productPrice}원</span>
               <span class="col-1">${dto.productLocationCountry}/${dto.productLocationCity}</span>
                ${reservationOrder !== 'COMPLETED' ? `<button type="button" class="btn btn-primary feePaymentBtn" data-reservationNo="${dto.reservationNo}">결제</button>` : ''}
                ${reservationOrder === 'PENDING' ? `<button type="button" class="btn btn-danger reservationDelBtn" data-reservationNo="${dto.reservationNo}">취소</button>` : ''}
                ${reservationOrder === 'COMPLETED' ? `<button type="button" class="btn btn-danger reservationRefBtn" data-reservationNo="${dto.reservationNo}">환불</button>` : ''}
                `
                }
            }
            reservationList.innerHTML = str
        }

        function printReservationListPagination(data) {
            let pageStr = ''
            if (data.prev) {
                pageStr += `<li class="page-item"><a class="page-link"
            data-page="${data.start - 1}">이전</a></li>
             `
            }
            for (let i = data.start; i <= data.end; i++) {
                pageStr += `
            <li class="${data.page == i}?'page-item active':'page-item'">
                                    <a class="page-link"
                                       data-page="${i}">${i}</a>
                                </li>
            `
            }
            if (data.next) {
                pageStr += `<li class="page-item"><a class="page-link"
            data-page="${data.end + 1}">다음</a></li>
             `
            }
            reservationListPagination.innerHTML = pageStr
        }

        function printMemberPoint() {
            getMemberPoint().then(data => {
                let memberPoint = `소지 포인트 : ${data.memberPoint}점`
                memberPointLabel.innerHTML = memberPoint
            }).catch(e => console.error(e))
        }

        let page = 1
        reservationListPagination.addEventListener("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            const target = e.target

            if (!target || target.tagName != 'A') {
                return
            }
            const pageNum = target.getAttribute("data-page")
            page = pageNum
            printReservation(reservationOrder, page)

        }, false)

        printReservation(reservationOrder, page)
        printMemberPoint()

        document.querySelector(".btn-group").addEventListener("click", function (e) {
            const target = e.target
            if (target.tagName != 'INPUT') return
            reservationOrder = target.getAttribute("data-order")
            printReservation(reservationOrder)
        }, false)

        document.querySelector(".reservationList").addEventListener("click", function (e) {
            const target = e.target
            if (!target.classList.contains('feePaymentBtn')) return
            const reservationNo = target.getAttribute("data-reservationNo")
            console.log("결제 클릭됨, reservationNo 는 " + reservationNo)
            feeReservation(reservationNo).then(data => {
                    console.log(data)
                    printReservation(reservationOrder, page)
                    printMemberPoint()
                }
            ).catch(e => console.error(e))
        })

        document.querySelector(".reservationList").addEventListener("click", function (e) {
            const target = e.target
            if (!target.classList.contains('reservationDelBtn')) return
            const reservationNo = target.getAttribute("data-reservationNo")
            console.log("취소 클릭됨, reservationNo 는 " + reservationNo)
            deleteReservation(reservationNo).then(data =>
                printReservation(reservationOrder, page)
            ).catch(e => console.error(e))

        })

        document.querySelector(".reservationList").addEventListener("click", function (e) {
            const target = e.target
            if (!target.classList.contains('reservationRefBtn')) return
            const reservationNo = target.getAttribute("data-reservationNo")
            console.log("환불 클릭됨, reservationNo 는 " + reservationNo)
            refundReservation(reservationNo).then(data => {
                printReservation(reservationOrder, page)
                printMemberPoint()
            }).catch(e => console.error(e))

        })
    </script>
</div>
</body>
</html>