<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainPageLayout.html}">
<title layout:fragment="title">장바구니</title>
<body>
<!--나중에 layout 으로 싹 갈아야함-->
<main layout:fragment="content">
    <ul class="cartProduct"></ul>
    <ul class="cartPagination"></ul>
    <button type="button" class="btn btn-primary makeReservationBtn">예약</button>
    <button type="button" class="btn btn-secondary" onclick="addCart(1)">1 장바구니 추가 (임시)</button>
    <button type="button" class="btn btn-secondary" onclick="addCart(2)">2 장바구니 추가 (임시)</button>
    <button type="button" class="btn btn-secondary" onclick="addCart(3)">3 장바구니 추가 (임시)</button>
</main>

<div layout:fragment="javascript">
    <script src="/script/cart/cart.js"></script>
    <script>
        const cartProduct = document.querySelector(".cartProduct")
        const cartPagination = document.querySelector(".cartPagination")

        function printCart(page) {
            getCart({page})
                .then(data => {
                        printCartProduct(data.dtoList)
                        printCartPagination(data)
                    }
                ).catch(e => {
                    console.error(e)
                }
            )
        }

        function printCartProduct(dtoList) {
            let str = ""
            if (dtoList && dtoList.length > 0) {
                for (const dto of dtoList) {
                    str += `
               <li class="list-group-item d-flex replyItem">
               <!--이미지 패스 dto.imagePath 도 붙여야함-->
               <!--<img src="{dto.imagePath}">-->
               <span class="col-2">${dto.name}</span>
               <span class="col-6">${dto.description}</span>
               <span class="col-2">${dto.price}</span>
               <button type="button" class="btn btn-danger cartDelBtn" data-productNo="${dto.productNo}">삭제</button>
               `
                }
            }
            cartProduct.innerHTML = str
        }

        function printCartPagination(data) {
            let pageStr = ''
            if (data.prev) {
                pageStr += `<li class="page-item"><a class="page-link"
            data-page="${data.start - 1}">이전</a></li>
             `
            }
            for (let i = data.start; i <= data.end; i++) {
                pageStr += `
            <li class="${data.page == i}?'page-item active':'page-item'">
                                    <a class="page-link"
                                       data-page="${i}">${i}</a>
                                </li>
            `
            }
            if (data.next) {
                pageStr += `<li class="page-item"><a class="page-link"
            data-page="${data.end + 1}">다음</a></li>
             `
            }
            cartPagination.innerHTML = pageStr
        }

        let page = 1
        cartPagination.addEventListener("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            const target = e.target

            if (!target || target.tagName != 'A') {
                return
            }
            const pageNum = target.getAttribute("data-page")
            page = pageNum
            printCart(page)

        }, false)

        printCart(page)

        document.querySelector(".makeReservationBtn").addEventListener("click", function (e) {
            makeReservation().then(data => {
                console.log(data.reservationNoSize + "개의 예약 완료")
            }).catch(e => {
                    console.error(e)
                }
            )
        })
        document.querySelector(".cartProduct").addEventListener("click", async function (e) {
            const target = e.target
            if (target.tagName != 'BUTTON') return
            const productNo = target.getAttribute("data-productNo")
            await delCart(productNo)
            cartProduct.innerHTML = ''
            cartPagination.innerHTML = ''
            printCart(page)
        })
    </script>
</div>
</body>
</html>