@font-face {
    font-family: 'HakgyoansimPuzzle';
    src: url('../font/HakgyoansimPuzzleTTFOutline.ttf') format('truetype');
}
@font-face {
    font-family: 'HakgyoansimBadasseugi';
    src: url('../font/HakgyoansimBadasseugiTTFL.ttf') format('truetype');
}

.dongle-regular {
    font-family: "Dongle", serif;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    position: relative;
}

header {
    /*background: linear-gradient(to right, rgb(169, 196, 255), rgb(90, 51, 177));*/
    display: flex;
    height: 9%;
    width: 100vw;
    /*color: rgb(56, 0, 99);*/
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgb(197, 197, 197);
    z-index: 5;
}

img {
    object-fit: contain;
}

.header__main {
    position: absolute;
    font-size: 2.5vw;
    background-image: url("../images/mainIcon.png");
    left: 5%;
    color: #3280f3;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 15%;
}

.signContainer, .myPageContainer {
    display: flex;
    position: relative;
    left: 42%;
    font-size: 1.1vw;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: HakgyoansimBadasseugi, sans-serif;
    > img {
        object-fit: cover;
    }
}

.signContainer > div {
    margin:5% 3% 5% 3%;
    border-radius: 5px;
    padding: 3%;
}

.myPageContainer {
    width: 30%;
    left: 38%;
    > div {
        padding: 2%;
    }
}

.signContainer > div:hover, .myPageContainer > div:hover {
    color: rgb(128, 128, 128);
}

.searchContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.3fr;
    align-items: center;
    margin: 2.5%;
    height: 8%;
    border: 2px solid #cdcdcd;
    border-radius: 35px;
    width: 50%;
    position: relative;
    left: 22%;
    flex-wrap: wrap;
    font-family: HakgyoansimBadasseugi, sans-serif;
}

.searchChild{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 35px;
    font-size: 2vw;
}

.searchChild:hover{
    background-color: #e9e9e9;
    color: #878787;
}

.searchChildContainer {
    display: none;
    position: absolute;
    width: 70%;
    top: 120%;
    border-radius: 35px;
    background-color: white;
}

.searchLocationContainer {
    display: none;
    flex-direction: column;
    align-items: center;
}

.countryImageContainer {
    display: flex;
    height: 30%;
    width: 95%;
    margin: 2.5%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.countryImageBox {
    object-fit: cover;
    margin: 0.25vw;
    width: 17%;
    aspect-ratio: 4/3;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    border: solid 2px #ffffff;
}

.countryImageBox:hover {
    border: solid 2px #636363;
}

.countryNameContainer {
    position: relative;
    left: -35%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 1.7vw;
    height: 15%;
}

.locationTagContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin-top: 5%;
    height: 200%;
    margin-bottom: 5%;
}

.locationTagBox {
    border: 2px solid #b6b6b6;
    margin: 5%;
    border-radius: 15px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.locationTagBox:hover {
    border: 2px solid #676767;
}

.searchStartContainer {
    left:15%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.searchEndContainer {
    left:30%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.monthTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
    margin: 2%;
    object-fit: cover;
}

.monthTextContainerLeftArrow, .monthTextContainerRightArrow {
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthTextContainerLeftArrow img, .monthTextContainerRightArrow img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.monthTextContainerLeftArrow:hover, .monthTextContainerRightArrow:hover {
    background-color: #acacac;
}

.dateContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 90%;
}

.dateTextBox, .dateNumBox {
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-size: 1.2vw;
    font-weight: normal;
}

.dateNumBox {
    font-weight: bolder;
}

.searchIconBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIconBox img {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}

.imageBoxContainer {
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 4/3;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox {
    background-color: #9c9c9c;
    transition: all 0.5s;
    height: 90%;
    width: 90%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center center;
    background-size: cover;
}

.imageBox:hover {
    height: 100%;
    width: 100%;
    background-color: #333333;
    .imageBoxTitle {
        display: flex;
    }
}

.imageBoxTitle {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    text-shadow: 1px 2px black;
}

.goAdminContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 2px #b8b8b8;
    top: 20%;
    left: 92%;
    background-image: url("../images/adminIcon.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
}

.goAdminContainer:hover {
    background-color: #cdcdcd;
}