<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="/css/mainPage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header__main"></div>
        <div class="signContainer">
            <div id="login">로그인</div>
            <div id="register">회원가입</div>
        </div>
        <div class="myPageContainer">
            <div id="freeBoard">자유게시판</div>
            <div id="member">마이페이지</div>
            <div id="shoppingCart">장바구니</div>
            <div id="reservation">예약확인</div>
        </div>
    </header>
    <div class="searchContainer">
        <div class="searchChild" id="searchLocation">여행지</div>
        <div class="searchChild" id="searchStart">출발날짜</div>
        <div class="searchChild" id="searchEnd">도착날짜</div>
        <div class="searchIconBox"><img src="/images/search.png" alt=""/></div>
        <div class="searchLocationContainer searchChildContainer">
            <div class="countryImageContainer">
            </div>
            <div class="countryNameContainer"></div>
            <div class="locationTagContainer">
            </div>
        </div>
        <div class="searchStartContainer searchChildContainer">
            <div class="monthTextContainer">
                <div class="monthTextContainerLeftArrow"><img src="/images/leftArrow.png" alt=""/></div>
                <div class="monthText" style="height: 100%"></div>
                <div class="monthTextContainerRightArrow"><img src="/images/rightArrow.png" alt=""/></div>
            </div>
            <div class="dateContainer">
                <div class="dateTextBox">월</div>
                <div class="dateTextBox">화</div>
                <div class="dateTextBox">수</div>
                <div class="dateTextBox">목</div>
                <div class="dateTextBox">금</div>
                <div class="dateTextBox">토</div>
                <div class="dateTextBox">일</div>
            </div>
        </div>
        <div class="searchEndContainer searchChildContainer">
            <div class="monthTextContainer">
                <div class="monthTextContainerLeftArrow"><img src="/images/leftArrow.png" alt=""/></div>
                <div class="monthText" style="height: 100%"></div>
                <div class="monthTextContainerRightArrow"><img src="/images/rightArrow.png" alt=""/></div>
            </div>
            <div class="dateContainer">
                <div class="dateTextBox">월</div>
                <div class="dateTextBox">화</div>
                <div class="dateTextBox">수</div>
                <div class="dateTextBox">목</div>
                <div class="dateTextBox">금</div>
                <div class="dateTextBox">토</div>
                <div class="dateTextBox">일</div>
            </div>
        </div>
    </div>
    <div class="imageContainer">
    </div>
    <div class="goAdminContainer"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
<script src="/script/mainPage/search.js" th:inline="javascript"></script>
<script src="/script/mainPage/mainPage.js" th:inline="javascript"></script>
<script th:inline="javascript">
    const member = [[${member}]];
    const admin = [[${admin}]];
    const idText = document.getElementById('login');
    const registerText = document.getElementById('register');
    const shoppingCartText = document.getElementById('shoppingCart');
    const reservationText = document.getElementById('reservation');
    const memberText = document.getElementById('member');
    const freeBoard = document.getElementById('freeBoard');
    let searchTotal = false;
    const goAdminContainer = document.querySelector('.goAdminContainer');

    if (admin) {
        goAdminContainer.style.display = 'flex';
        goAdminContainer.addEventListener("click", () => {
            window.location.href = "/admin/mainPage";
        })
    }


    document.querySelector(".header__main").addEventListener("click", () => {
        window.location.href = "/mainPage";
    })

    if (member) {
        document.querySelector('.signContainer').style.display = 'none';
        shoppingCartText.addEventListener('click', (e) => {
            window.location.href = '/cart';
        })
        reservationText.addEventListener('click', (e) => {
            window.location.href = '/member/reservation';
        })
        memberText.addEventListener('click', (e) => {
            window.location.href = '/member/myPage';
        })
        freeBoard.addEventListener('click', (e) => {
            window.location.href = '/free_board/list';
        })
    }
    else {
        document.querySelector('.myPageContainer').style.display = 'none';
        idText.addEventListener('click', (e) => {
            window.location.href = '/member/login?';
        })
        registerText.addEventListener('click', (e) => {
            window.location.href = '/member/register?';
        })
    }

    function addCountryImageClickListener(country) {
        country.addEventListener('click', (e) => {
            getCities(country.name).then((cities) => {
                locationTagContainer.innerHTML = '';
                countryNameContainer.innerText = country.name;

                for (const city of cities) {
                    addCityTag(city);
                }
            })
        })
    }

    getCountries().then((countries) => {
        for (const country of countries) {
            addCountryImage(country);
        }
    });

    printImageContainer();

    function printImageContainer(page, size, locationNo, startDate, endDate) {
        getContent(page, size, locationNo, startDate, endDate).then((content) => {
            imageContainer.innerHTML = '';
            for (const product of content.list) {
                addImage(product.name, product.imagePath, product.productNo)
            }
            isAddImage = true;
        })
    }

    function addImageContainer(page, size, locationNo, startDate, endDate) {
        isAddImage = false;
        getContent(page, size, locationNo, startDate, endDate).then((content) => {
            for (const product of content.list) {
                addImage(product.name, product.imagePath, product.productNo)
            }
            isAddImage = true;
        })
    }
</script>